


.productList{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
overflow: clip;
}

.lrgProd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 120vh;
    width: 100%;
}
.products{
    height: 60vh;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-rows: .7fr .1fr .2fr;

}
.products img{
    height:100% ;
    width: 100%;
    object-fit: cover;
    overflow: clip;
}

.price{
    font-family:'Times New Roman', Times, serif ;
}
.addBtn{
    width: 100%;
    padding: 1rem;
    background: var(--p-clr);
    color: white;
}
.smlItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.productDiv{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}